@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        <p>            
            <a asp-page="./Game" asp-route-id="1">New Game</a>
        </p>
        <p>            
            <a asp-page="./ResumeGame" asp-route-id="1">Resume Game</a>
        </p>
        <p>
            <a asp-page="./Settings" asp-route-id="1">Settings</a>
        </p>
    </div>
</div>