@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center">
    <div style="margin-top: 10rem">
        <h4 style="margin-bottom: 3rem">            
            <a asp-page="./Game" >New Game</a>
        </h4>
        <h4>            
            <a asp-page="./ResumeGame">Resume Game</a>
        </h4>
    </div>
</div>